text {
  color: #333 !important;
  fill: #333 !important;
  tspan {
    stroke-width: 0;
  }
}
.highcharts-dark {
  text {
    color: #fff !important;
    fill: #fff !important;

    tspan {
      stroke-width: 0;
    }
  }

  .highcharts-background {
    fill: #262626 !important;
  }
}
